<div class="row">
	<div class="col-lg-2">

  </div>
		<div class="col-lg-8">
		  <div class="card-box">
		    <h4 class="m-t-0 header-title"> Users List
		    	<div class="float-right"><%=link_to '+User',new_users_admin_path,class:"btn btn-primary"%></div>
		    </h4>
		    <p class="text-muted font-14 m-b-20">
		    </p>
		    <table class="table table-bordered " >
		      <thead class="thead-light">
		        <tr>
		         <th>S.no</th>
		         <th>Email</th>
		          <th>Name</th>
		          <th>Action</th>

		        </tr>
		      </thead>
		      <tbody>
		   			<%@users.each do |user|%>
							<tr>
								<td>
									<%=user.id-@users.first.id+1%>
								</td>
								<td>
									<%=user.email%>
								</td>
								<td>
									<%=user.user_name%>
								</td>
								<td><%=link_to '<i class = "fa fa-pencil text-dtd"></i>'.html_safe, edit_users_admin_path(user)%>
									<%=link_to '<i class = "fa fa-trash text-danger"></i>'.html_safe,
									users_admin_path(user),method:"delete"%>
								</td>
							</tr>
					  <%end%>
				  </tbody>
		    </table>
		  </div>
		</div>
		<div class="col lg-1">
		</div>
  </div>
<!--  </div> -->
                        