<% if flash[:notice].present? %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
<% end %>

<button onclick="goBack()" class="btn btn-primary">Back</button>
<div style="margin-left: 287px;margin-top: 36px;">
  <h4>Module Name:&nbsp<%=@project_module.module_name%></h4>
</div>

<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-8"><h3>TestCase List</h3></div>
      <div class="col-sm-4 pl-5">
        <%= link_to 'New TestCase',new_project_project_module_test_case_path(@project,@project_module), class:"btn btn-primary" %>
      </div>
    </div>
  </div>
  <%if @test_cases.present?%>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan=2>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%@test_cases.each do |tcase|%>
          <tr>
            <td><%= link_to (tcase.title), project_project_module_test_case_path(@project,@project_module,tcase) %></td>
            <td><%=link_to '<i class="fa fa-pencil"></i>'.html_safe, (edit_project_project_module_test_case_path(@project,@project_module,tcase))%>
            </td>  
            <td>
              <i class="fa fa-trash text-danger" onclick="openDeletePopupModal('<%=@project.id%>','<%= @project_module.id%>','<%=tcase.id%>');"></i>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table> 
  <% else %>
    <h3> No Testcases for this Module!</h3>
  <%end%>
</div>


<div id="myModal3" class="modal fade" style="color:#000;">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">  
        <h4 class="modal-title">Are you sure?</h4>  
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this TestCase? This process cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <a id="test_case_delete" class="btn btn-info ok" data-method="delete" data-remote="true">Ok</a>
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        
      </div>
    </div>
  </div>
</div>   

<script type="text/javascript">

  function openDeletePopupModal(pid,mid,id){
    $('#test_case_delete').attr("href","/projects/"+pid+"/project_modules/"+mid+"/test_cases/"+id); 
    $('#myModal3').modal('show');
  }

</script>

































