<button onclick="goBack()" class="btn btn-primary">Back</button>
<div class= "container"> 
  <% if flash[:notice].present? %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="modal fade" id="modalLoginForm4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"   aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Edit Project</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= render "form_project"%>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalLoginForm2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold" id="edit-module">Create Module</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>  
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <div class="project-module-form">
              <%=render 'form_module'%>  
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-left: 200px;
    margin-top: 36px;">
  <h4>Project Name:<a href="/projects/new" data-toggle="modal" 
  data-target="#modalLoginForm4">&nbsp<%=@project.name%></a></h4></div>
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-8"><h3>Modules List</h3></div>
        <div class="col-sm-4">
            <a href="/projects/new" class="btn btn-primary pull-right text-white" data-toggle="modal" data-target="#modalLoginForm2"  id="newmodule"><i class="fa fa-plus"></i>&nbsp;Module
            </a>
           <!--  <a href="/projects/new" class="btn btn-primary pull-right text-white"  id="newmodule"><i class="fa fa-plus" data-remote="true"></i>&nbsp;Module
            </a> -->
        </div>
      </div>
    </div>
    <%if @modules.present?%>
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th colspan=2>Actions</th>
            </tr>
          </thead>
          <tbody>
          <%@modules.each do |mod|%>
            <tr>
              <td><%= link_to (mod.module_name), project_project_module_path(@project,mod) %></td>
              <td><%=link_to '<i class="fa fa-pencil"></i>'.html_safe, (edit_project_project_module_path(@project,mod)),remote:true%>
                  </td>  
              <td>
                 <a><i class="fa fa-trash text-danger" onclick="openEditPopupModal('<%= mod.id%>','<%=@project.id%>');"></i></a>
              </td>
            </tr>
          <%end%>
          </tbody>
      </table> 
    <% else %>
       <h3> No Modules for this project!</h3>
    <%end%>
  </div>
</div>


<!-- Delete Project Bootstrap Model -->
<div class="container ml-5">
  <a href="#myModal" class="btn btn-light text-danger" data-toggle="modal">Delete Project</a>
</div>

<!-- Modal HTML -->
<div id="myModal" class="modal fade" style="color:#000;">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
        </div>        
        <h4 class="modal-title">Are you sure?</h4>  
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this Project? This process cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
        <%= link_to("Ok", [@project], method: :delete, class:'btn btn-info ok',) %>
      </div>
    </div>
  </div>
</div>     


<!-- Delete Modules -->
<div id="myModal2" class="modal fade" style="color:#000;">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure?</h4>  
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this Module? This process cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <a id="module_delete" class="btn btn-info ok" data-method="delete" data-remote="true">Ok</a>
        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>  

<script type="text/javascript">

  function openEditPopupModal(id,pid){
    $('#module_delete').attr("href","/projects/"+pid+"/project_modules/"+id);
    $('#myModal2').modal('show');
    }
    
    $(document).ready(function(){
    $("#newmodule").click(function(){
        document.getElementById("module_form").reset();
        $('#error-module').html('');
        $('#edit-module').html('<h4>Create Module<h4>')

        
    });
});

</script>





