<%= form_with model:@test_case.new_record? ? [ @project_module,@test_case] : @test_case   do |form|%>
  <div class="modal-body mx-3">
    <div class="md-form mb-4" >
      <p>
        <%=form.text_field :title,placeholder:"TestCase name",class:"form-control test-title"%>
      </p>
    </div>
    <div class="md-form mb-4">
      <%=form.text_area :description,placeholder:"TestCase description", 
        class:"form-control"%>
    </div>
    <div id="error-ranking" class="text-danger"></div>
      <div class="md-form mb-4">
       <p>
       <%=form.select:priority, ['High', 'Medium', 'Low'],{},{class:'form-control'}%></p>
      <div id="error-details" class="text-danger"></div>
    </div>
  </div>     
  <div class="modal-footer d-flex justify-content-center">  
    <p><%=form.submit class:"btn btn-primary"%></p>
  </div>

  <%end%>
        