<div class="panel panel-default">
	<div class="row"> 
		<div class="col col-sm-6 col-lg-6 pr-2 col-xs-12 attach-right">
			<div class="col-sm-12 pb-3">
				<p></p>
				<h6><%=@project.name%>/ <%=@project_module.module_name%>
	    		<%= link_to '+TestCase', new_project_module_test_case_path(@project_module), class:"btn btn-primary float-right", remote: true%>
	      </h6>
	   	</div>
	   	<%if @test_cases.present?%>
        <%@test_cases.each do |tcase|%>
			    <div class="col-sm-12 pb-1 attach-right">
		        <div class="card m-b-20 card-body border-<%=tcase.priority%> 
		        	<%= @test_case == tcase ? 't-active': 't-inactive'%>" id="test-hover">
		        	<a href="<%=test_case_path(tcase)%>" data-remote=true 
		        		class="module_list">
		            <h6 class="card-title"><%=tcase.title%> 
		            	<%if @test_case == tcase%>
		              <span class="arrow-alt"></span>
		              <%end%>
					    	</h6> 
		            <p class="card-text s-text"><%=tcase.description%></p>		         
		          <div class="row">
		          </a>	
			        </div>
		        </div>
          </div>
			  <%end%>
			<%else%>
				<div class="test-wrapper">
	    	  <div class="table-title">
	     			<div class="row text-muted">
	 						<h4>No testcases found for this module!!</h4>
	 					</div>
					</div>
				</div>
			<%end%>
    </div>
    <div class="col col-sm-6 col-lg-6 pr-2 col-xs-12 attach-left" id="test-form">
    	<%if @test_cases.present?%>
    		<%= render 'test_cases/show_test_case'%>
    	<%end%>
	  </div>
  </div>
 
</div>

 <%= render partial: 'projects/models', locals: { partial_name: "projects/form_project", partial_id: 'modalLoginForm4',
       title: "Edit Project"}%>
 <%= render partial: 'projects/models', locals: { partial_name: "projects/form_module", partial_id: 'modalLoginForm5',
       title:"New Module"}%>
  <%= render partial: 'projects/models', locals: { partial_name: "projects/form_module", partial_id: 'modalLoginForm2',
       title:"Edit Module"}%>
  
  <div id="new_test"></div>

