<div class="panel panel-default">
	<div class="row"> 
		<div class="col col-sm-8 border-right ">
			<div class="col-sm-12 pb-3">
				<h6>TestCases
	    		<%= link_to '+TestCase', new_project_module_test_case_path(@project_module), class:"btn btn-primary create-case-button", remote: true%>
	      </h6>
	   	</div>
	   	<%if @test_cases.present?%>
        <%@test_cases.each do |tcase|%>
			    <div class="col-sm-12 pb-3">
            <div class="card m-b-20 card-body border-<%=tcase.priority%>">
              <h4 class="card-title"><%=tcase.title%> 
              	<div class="float-right"><%=link_to '<i class="fa fa-pencil"></i>'.html_safe, (edit_test_case_path(tcase)),remote:true%>
			    				<i class="fa fa-trash text-danger" onclick="openDeletePopupModal('<%=tcase.id%>');"></i>
			    			</div>
			    		</h4>
              <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
              <a href="<%=test_case_path(tcase)%>" data-remote=true  class="btn btn-primary"> Full Description></a>
            </div>
          </div>
			  <%end%>
			<%else%>
				<div class="test-wrapper">
	    	  <div class="table-title">
	     			<div class="row text-muted">
	 						<h4>No testcases found for this module!!</h4>
	 					</div>
					</div>
				</div>
			<%end%>
    </div>
    <div class="col col-sm-4 pr-2 col-xs-12" id="test-form">
	  </div>
  </div>
 
</div>

 <%= render partial: 'projects/models', locals: { partial_name: "projects/form_project", partial_id: 'modalLoginForm4',
       title: "Edit Project"}%>
 <%= render partial: 'projects/models', locals: { partial_name: "projects/form_module", partial_id: 'modalLoginForm5',
       title:"New Module"}%>
  <%= render partial: 'projects/models', locals: { partial_name: "projects/form_module", partial_id: 'modalLoginForm2',
       title:"Edit Module"}%>
  
  <div id="new_test"></div>
