<!-- <div class="table-wrapper">
  <div class="table-title"><%=@test_case.title%></div>      
      <div class="col-sm-4 xs-4">
        <div class="mt-2">
            <div class="col-xs-8 col-md-9">
                <%= @test_case.description%></div>
            </div>
            <div class="col-xs-4 col-md-3">
            	ddee
            </div>
        </div>
  </div>
 -->
<div class="table-wrapper"  tabindex='2' id="show-test">
	<div class="row col-xs-12 details-section">
		<div class="col-xs-12 col-md-12 ml-80"> <%=@test_case.title%> </div>
	    <div class="col-xs-3 col-md-3">TestCase Title:</div>
	    <div class="col-xs-8 col-md-9">
	    <%=@test_case.title%>
	    </div>
	    <div class="col-xs-3 col-md-3">Description:</div>
	    <div class="col-xs-8 col-md-9">
	    	<%= @test_case.description%>
	    </div>
	    <div class="col-xs-3 col-md-3">Priority:</div>
	    <div class="col-xs-8 col-md-9">
	    	<%= @test_case.priority%>
	    </div>
	 </div>
	</div>

