<div class="card m-b-20 table-wrapper">
  <div class="card-body">
    <h6 class="card-title">TestCase Details</h6>
    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
    TestCase Title:		        	
			<%=@test_case.title%><br>       
		    Description:
		  <%= @test_case.description%><br>
		    			
		    	Priority:
		    			<%= @test_case.priority%><br>
		    	Created By:
		    			
		    			<%= current_user.user_name%><br>
		    			

        </div> 
        <div class="row col-xs-12">
	        <div class="card-body"> 		    			
		    			<div class="float-right">
	            <%=link_to 'Edit', (edit_test_case_path(@test_case)),remote:true,class:"btn btn-primary"%>

						  <a class="btn btn-light text-danger" onclick="openDeletePopupModal('<%=@test_case.id%>');">
						  	Delete
						  </a>
	          </div>
	        </div>
	      </div>