<a href="<%=edit_project_path(@project)%>" class="reset-form text-white"
  data-remote="true"> 
  <%=@project.name%> 
      </a>
<ul class="navbar-nav navbar-sidenav bg-light m-width" id="exampleAccordion">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="      Project Name">
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Project">
    <p></p>
    <%unless controller.action_name == 'setting'%>
      <p class="project-heading ml-1">
        Modules
        <a href="<%=new_project_project_module_path(@project.id)%>" class="text-dark text-right float-right mr-2"  id="newmodule" data-remote="true" title="Add module">
          <i class="fa fa-plus" data-remote="true"></i>
        </a>
      </p>
      <div class="sidenav-second-level">
        <%if @modules.present?%>
          <%@modules.each do |mod|%>          
            <div class="<%= @project_module == mod ? 'bg-nice': 'bg-inactive' %>">
              <div class="ml-1" title="<%= mod.module_name%>">
                <%= link_to (truncate mod.module_name,length:20),project_module_test_cases_path(mod),class:"module_list", remote:true %> 
                <div class="float-right mr-2">   
                  <%= link_to '<i class = "fa fa-pencil text-dtd"></i>'.html_safe, (edit_project_module_path(mod)),remote:true,title:"Edit Module"%>
                  <a>
                    <i class="fa fa-trash text-danger ml-2" onclick="openEditPopupModal('<%= mod.id%>');", title="Delete Module">
                    </i>
                  </a> 
                </div>
              </div>
            </div>
          <%end%>
        <%else%>
          <tr><td>No Modules Found!</td></tr>
        <%end%> 
      </div>
    <%else%>
      <div class="sidenav-second-level">
        <div class="bg-nice">
          <div class="ml-1" title="Users">
            <a class="module_list" data-remote="true" href="#">
                Members</a> 
          </div>
        </div>
      </div>
    <%end%>
    
  </li>  
</ul>
        
<ul class="navbar-nav ml-auto">
  <li class="nav-item ml-auto">
        <a class="nav-link text-white" rel="nofollow"  href="<%=setting_project_path(@project)%>" >
        <i class="fa fa-fw fa-cogs"></i>settings</a>
      </li>

  <li class="nav-item">
    <a class="nav-link text-white" rel="nofollow" data-method="delete" href="/users/sign_out">
      <i class="fa fa-fw fa-sign-out"></i>
      Logout
    </a>
  </li>
</ul>