<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= favicon_link_tag %>
  <title>Projects</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'vendor/bootstrap/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'vendor/font-awesome/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'css/sb-admin' %>
  <%= javascript_include_tag "application" %>   
  <%= javascript_include_tag 'vendor/jquery.min.js' %>
  <%= javascript_include_tag 'vendor/bootstrap.bundle.min.js' %>
  <%= javascript_include_tag 'vendor/jquery.easing.min.js' %>
  <%= javascript_include_tag 'vendor/Chart.min.js'%>   
  <%= javascript_include_tag 'vendor/jquery.dataTables.js'%>
  <%= javascript_include_tag 'vendor/dataTables.bootstrap4.js'%>  
  <%= javascript_include_tag 'vendor/sb-admin.min.js'%>
  <%= javascript_include_tag 'vendor/sb-admin-datatables.min.js'%>
  <%= javascript_include_tag 'vendor/sb-admin-charts.min.js'%> 
  
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="navbar-brand">Test Case Application</div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="container-fluid">
      <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Dashboard
      </li>
    </ol>
    <div style="color:#0ff">
      <%= yield %>
    </div>
  </div>

<footer class="footer well ml-0-mb-0-imp b-radius-0 fixed-bottom">
  <div style="background-color:#f5f5f5;">
    <div class="copyright-info text-center">
      <span class="text-muted">
        © DispatchTrack 2018. (
          v 2.0.0.pf.equipment.24075 [efff607] 
        )
      
        &nbsp;|&nbsp;
        <a href="/eula" class="bluelink">Terms of Service</a>
        &nbsp;|&nbsp;
        <a href="/privacy" class="bluelink">Privacy Policy</a>
        &nbsp;|&nbsp;
        <a href="/support" class="bluelink">Support</a>
          
        &nbsp;|&nbsp;
        <a href="/release-notes" target="_blank" class="bluelink">Release Notes</a>
          
        &nbsp;|&nbsp;
        <a href="/release-notes-pdf" target="_blank" class="bluelink">2.0 Mobile Release Notes</a>
          
        &nbsp;|&nbsp;
        <a href="/docs/index.html" target="_blank" class="bluelink">Help</a>
          
      
      </span>
    </div>
    <div class="clearfix"></div>
  </div>
</footer>
</body>

</html>


